bitarray==3.0.0
cached-property==2.0.1
certifi==2025.1.31
charset-normalizer==3.4.1
cytoolz==1.0.1
eth-abi==4.2.1
eth-account==0.10.0
eth-hash==0.7.1
eth-keyfile==0.9.0
eth-keys==0.6.1
eth-rlp==1.0.1
eth-typing==5.1.0
eth-utils==2.3.2
hexbytes==0.3.1
hyperliquid-python-sdk==0.9.0
idna==3.10
iniconfig==2.0.0
msgpack==1.1.0
packaging==24.2
parsimonious==0.9.0
pluggy==1.5.0
py-ecc==7.0.1
pycryptodome==3.21.0
pytest==8.3.4
python-dotenv==1.0.1
regex==2024.11.6
requests==2.32.3
rlp==4.0.1
toolz==1.0.0
typing_extensions==4.12.2
urllib3==2.3.0
websocket-client==1.8.0
